@page
@model Weeks_06.Pages.AddEtudiant.Create
@{
    ViewData["Title"] = "Create";
}

<form class="form" method="post">
    <div class="form-group">
    <label for="Prenom">Prenom</label>
    <input class="form-control" for="@Model.etudiants.Prenom"/>
    <span asp-validation-for="@Model.etudiants.Prenom"></span>
    </div>
    <div class="form-group">
    <label asp="Nom">Nom</label>
    <input class="form-control" for-for="@Model.etudiants.Nom"/>
    <span asp-validation-for="@Model.etudiants.Nom"></span>
    </div>
    <div class="form-group">
    <label for="Moyenne">Moyenne</label>
    <input class="form-control" for="@Model.etudiants.Moyenne"/>
    <span asp-validation-for="@Model.etudiants.Moyenne"></span>
    </div>
    <div class="form-group">
    <label for="Programme">Programme</label>
    <select class="form-control">
        <option value="" selected>Veuillez faire un choix</option>
    </select>
    <span asp-validation-for="@Model.etudiants.Programme"></span>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>